.container {
    background-color: white;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
   
  .content {
    height: 100vh;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 20px;
  }
   
  iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
  }
  .sub-menue {
    margin-top: 0;
    padding-top: 0;
  }
  
   